* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}


 .form {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  padding-top: 20px;
  padding-bottom: 28px;
  width: 396px;
  text-align: center;
} 
.footer {
  background-color: #1e272e;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p {
  text-align: center;
}

.donateBlood {
  background-image: url('./Img/DonateBlood.jpg');
  height: 820px;
  width: 100%;
}
.textblood{
  padding:50px;
}
.textblood b {
  font-size: 50px;
  padding-top: 150px;
  text-align: center;
  margin-left: 950px;
  color:red;
}
.textblood h3{
  text-align: center;
  margin-left: 750px;
}
.probaj {
  margin-left: 80%;
}
.errors{
  font-size: 12;
  color: red;
  text-align: justify;
}